.root{
	-fx-font-family: "Georgia";
}

.label{
	-fx-font-size: 18;
	-fx-text-fill: black;
}

.button{
	-fx-background-image: url("textures/velvet.png");
	-fx-text-fill: goldenrod;
	-fx-border-color: goldenrod;
	-fx-border-radius: 0;
	-fx-border-width: 2;
}

.button:hover{
	-fx-background-image: url("textures/velvetHover.png");
}

.button:armed{
	-fx-background-image: url("textures/velvetArmed.png");
}

.button:disabled{
	-fx-opacity: 0.5;
}

.choice-box{
	-fx-base: brown;
}

.slider{
	-fx-base: brown;
}

.slider .axis{ 
	-fx-tick-label-fill: goldenrod;
}


.text-field{
	-fx-background-color: brown;
	-fx-text-fill: goldenrod;
}

.custom-popup{
	-fx-background-image: url("textures/velvet.png");
	-fx-border-color: goldenrod;
	-fx-border-width: 10;
	-fx-border-radious: 0;
	-fx-border-insets: 10;
}

.button-large{
	-fx-font-size: 18;
}

.bar-label{
	-fx-text-fill: goldenrod;
}
